{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container">
        <div class="mt-4 mb-4 time">{{ "now"|date("Y-m-d H:i") }}</div>
        <div class="mt-4 mb-4 action">{{ request.getAttribute('__route__').getCallable() }}</div>
        <h1 class="mt-5 mb-4">{{ trailers | length }} iTunes Movie trailers</h1>
        <div class="row">
            {% for trailer in trailers %}
                <div class="item col-md-2 mt-4 mb-4">
                    <div class="poster"><img alt="{{ trailer.title }}" src="{{ trailer.image }}"></div>
                    <a href="{{ router.urlFor('showMovieTrailer', {'id': trailer.id}) }}">
                        <h5>{{ trailer.title }}</h5>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
