{% extends 'main.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="mt-5 mb-4">{{ movie.title }}</h1>
        </div>
        <div class="row">
            <img class="poster" src="{{ movie.image }}">
            <div class="col description">{{ movie.description }}</div>
        </div>
        <div class="row mt-4 mb-4">
            source:  <a class="source" target="_blank" href="{{ movie.link }}">{{ movie.link }}</a>
        </div>
        <div class="row mt-4 mb-4">
            <a class="back" href="{{ router.urlFor('main') }}"><< back</a>
        </div>
    </div>
{% endblock %}
